@use "@styles/variables" as *;

.button {
  --l-button-text: #{$button-primary-text};
  --l-button-background: #{$button-primary-bg};

  padding: $space-xs $space-m;
  border-radius: $border-radius;
  cursor: pointer;
  transition: transform 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;

  &_primary {
    background-color: var(--l-button-background);
    color: var(--l-button-text);
  }

  &_secondary {
    background-color: $button-secondary-bg;
    color: $button-secondary-text;
  }

  &__text,
  &__loader {
    transition: color 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  & &__text {
    line-height: 24px;
    font-weight: 500;
  }

  & &__loader {
    margin-right: 8px;
    flex-shrink: 0;
  }

  &:hover {
    --l-button-background: #{$button-primary-bg-hover};
  }

  &:active {
    transform: scale(0.96);
  }

  &:disabled {
    pointer-events: none;
  }

  &_disabled {
    --l-button-text: #{$button-primary-text-disabled};
    --l-button-background: #{$button-primary-bg-disabled};
  }
}