@use "@styles/variables" as *;

.multi-dropdown {
  $self: &;

  z-index: 10;

  position: relative;
  width: 100%;

  &__field * {
    cursor: default;
  }

  &__options {
    position: absolute;
    left: 0;
    width: 100%;
    top: calc(100% + #{$space-xxs});
    background-color: $dropdown-options-bg;
    box-shadow: $shadow;
    border-radius: $border-radius;
    overflow: hidden;
  }

  &__option {
    cursor: pointer;
    padding: $space-s $space-xs;
    color: $text-primary;
    transition: color 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
    display: block;
    appearance: none;
    border: none;
    outline: none;
    background: none;

    width: 100%;
    text-align: start;

    &:hover {
      color: $text-secondary;
      background: #efefef;
    }

    &_selected {
      color: $text-accent;
    }
  }
}
